<!DOCTYPE html>
<html>
  <head>
    <title>Acebook!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h2>Welcome to Acebook</h2>
    <div class="signup">
      <h3>Sign up to Acebook here</h3>
      <form action="/user/new" method="POST">
        Name:<br>
        <input type="text" name="name">
        <br>
        Email:<br>
        <input type="text" name="email">
        <br>
        Password:<br>
        <input type="text" name="password">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <br>

    <div class="signin">
    <h2>Already a member? Log in here: </h2>

     <form action="/session/new" method="POST">
       Email:<br>
       <input type="text" name="email">
       <br>
       Password:<br>
       <input type="text" name="password">
       <br><br>
       <input type="submit" value="Submit">
     </form>
    </div>

  </body>
</html>