<!DOCTYPE html>
<html>
  <head>
    <title>Acebook!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h2>Sign up to Acebook here</h2>

    <form action="/user/new" method="POST">
      Name:<br>
      <input type="text" name="firstname">
      <br>
      Email:<br>
      <input type="text" name="lastname">
      <br>
      Password:<br>
      <input type="text" name="lastname">
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>