  <!DOCTYPE html>
<html>
  <head>
    <title>Acebook!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>


    <h1>Welcome to acebook, $name </h1>

    <form action="/session/destroy" method="POST">
      <input type="submit" value="Sign out">
      <br>
    </form>


    <form action='/posts/new' method="POST">
      <div class="form-group">
        <input id="post" type="text" name="post">
      </div>
      <button type="Submit" name="Submit" value="Submit" class="btn">Submit</button>
    </form>
    <br><br>
    <div class="posts-listings">
    <ul>
      #foreach($p in $posts)
        <li>$p.content<br><br>Posted by $p.name $p.getTimeStamp()<br><br></li>
        <form action='/comments/new' method="POST">
            <input id="comment" type="text" name="comment" placeholder="Add comment">
            <input type="submit" value="Submit">
        </from>
      #end
    </ul>
    </div>

  </body>

</html>