  <!DOCTYPE html>
<html>
  <head>
    <title>Acebook!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

     div.likes {
            position: relative;
            bottom: 50;
            left: 410px;
            width: 400px;
            height: 10px;
           }

     div.h3 {
        text-align: center;
     }
    </style>
  </head>


  <body class="w3-theme-l5">

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <div class="w3-bar-item w3-hide-small w3-padding-large">
                <h3 style="font-weight:bold"><i class="fa fa-globe"></i>   Acebook </h3>
            </div>

            <div class="w3-bar-item w3-right w3-padding-large">
                <form action="/session/destroy" method="POST">
                <input type="submit" value="Sign out">
                </form>
            </div>
        </div>
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-left:250px">

    <!-- The Grid -->
     <div class="w3-row">

     <!-- Left Column -->
     <div class="w3-col m1">
     </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

        <!-- New post container -->
          <div class="w3-row-padding">
            <div class="w3-col m12">
              <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <h6 class="w3-opacity">Welcome to Acebook, $name </h6>
                    <form action='/posts/new' method="POST">
                        <input contenteditable="true" id="post" name="post" class="w3-border w3-padding" style="width:95%"></input>
                        <br><br>
                        <button type="Submit" name="Submit" value="Submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Post container -->
      <br>
          <ul style="list-style-type:none;">
          #foreach($p in $posts)
            #set($allLikes = $modelMethods.getPostLikesByPostId($p.post_id))
                <li id="post-$p.post_id">
                    #if ($p.post_id == $deletePostId && $deletePostError == true)
                        <br> <p><b>You can only delete your own posts!</b></p>
                    #end
                 </li>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

                <!-- Post header -->
                <span class="w3-right w3-opacity">posted $p.getTimeStamp()</span>
                <h4>By $p.name</h4><br>
                <hr class="w3-clear">
                <p>$p.content</p>

                <!-- All likes -->
                <form action='/posts/likes' method="POST">
                  $allLikes likes <button name="post-id-for-like" value="$p.getPostID()" type="submit" class="w3-button w3-theme-d1 w3-margin-bottom btn btn-success"><i class="fa fa-thumbs-up"></i>  Like</button>
                </form>

                <!-- Delete comment -->
                <form action="/posts/delete" method="post">
                    <input type='hidden' name='method' value='DELETE'>
                    <button name="post-id-delete" value="$p.post_id" type="submit" class="w3-button w3-theme-d2 w3-margin-bottom btn btn-danger"><i class="fa fa-remove"></i>  Delete post</button>
                </form>

                    <!-- Add comment container -->
                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                        <form action='/comments/new' method="POST">
                          <input id="comment" type="text" name="comment" placeholder="Add comment">
                          <button name="post-id-for-comment" value="$p.getPostID()" type="submit" class="w3-button w3-theme-d2 w3-margin-bottom btn btn-primary"><i class="fa fa-comment"></i>  Comment</button>
                       </form>
                       <!-- Add comment container ends -->
                    </div>


                        <!-- Comment container -->
                        <ul style="list-style-type:none;">
                            #set($commentsByPostId = $modelMethods.getCommentsByPostId($p.post_id))
                             #foreach($comment in $commentsByPostId)
                                 #set($allCommentLikes = $modelMethods.getCommentLikesByCommentId($comment.comment_id))
                                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                                    <span class="w3-right w3-opacity">posted $comment.getTimeStamp()</span>
                                    Posted by $comment.name
                                    <p>$comment.content</p>
                                    <form action='/comments/likes' method="POST">
                                         $allCommentLikes likes <button name="comment-id-for-like" value="$comment.getCommentId()" type="submit" class="w3-button w3-theme-d2 w3-margin-bottom btn btn-success"><i class="fa fa-thumbs-up"></i>  Like</button>
                                    </form>
                                    <form action="/comments/delete" method="POST">
                                         <input type='hidden' name='method' value='DELETE'>
                                         <button name="comment-id-delete" value="$comment.comment_id" type="submit" class="w3-button w3-theme-d2 w3-margin-bottom btn btn-danger"><i class="fa fa-remove"></i>  Delete comment</button>
                                     </form>
                                     </div>

                              #end
                        </ul>

            </div>
          #end
        <br>

    <!-- Middle container ends -->
    </div>
  </body>

</html>