  <!DOCTYPE html>
<html>
  <head>
    <title>Acebook!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
        div.likes {
        position: relative;
        bottom: 50;
        left: 410px;
        width: 400px;
        height: 10px;
       }
    </style>
  </head>
  <body>


    <h1>Welcome to acebook, $name </h1>

    <form action="/session/destroy" method="POST">
      <input type="submit" value="Sign out">
      <br>
    </form>


    <form action='/posts/new' method="POST">
      <div class="form-group">
        <textarea id="post" type="text" name="post" style="width:400px; height:100px; border-style:double"></textarea>
      </div>
      <button type="Submit" name="Submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
    <br><br>
    
    <ul style="list-style-type:none;">
        #foreach($p in $posts)
        #set($allLikes = $modelMethods.getPostLikesByPostId($p.post_id))
        <li><textarea name="post-body" style="width:400px; height:100px; border-style:double">
          $p.content</textarea>
          <div class="likes">
            <form action='/posts/likes' method="POST">
              <button name="post-id-for-like" value="$p.getPostID()" type="submit" class="btn btn-success">Like</button>
            </form>
            <p style="position:relative; left:60px; bottom:25px">$allLikes likes</p>
          </div>
          Posted by $p.name $p.getTimeStamp()<br><br>

          <form action='/comments/new' method="POST">
            <input id="comment" type="text" name="comment" placeholder="Add comment">
            <button name="post-id-for-comment" value="$p.getPostID()" type="submit" class="btn btn-success">Comment</button>
          </form>

          <ul>
            #set($commentsByPostId = $modelMethods.getCommentsByPostId($p.post_id))
            #foreach($comment in $commentsByPostId)
            #set($allCommentLikes = $modelMethods.getCommentLikesByCommentId($comment.comment_id))
            <li>
               $comment.content
               <div class="likes">
                 <form action='/comments/likes' method="POST">
                    <button name="comment-id-for-like" value="$comment.getCommentId()" type="submit" class="btn btn-success">Like</button>
                 </form>
                 <p style="position:relative; left:60px; bottom:25px">$allCommentLikes likes</p>
               </div>
               Posted by $comment.name $comment.getTimeStamp()
            </li>
            #end
          </ul>
        </li>
        #end
    </ul>

  </body>

</html>